/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@600&display=swap');

/* averta demo pe cutted demo */
@font-face {
    font-family: AvertaDemoPECuttedDemo;
    src: url('../fonts/AvertaDemoPECuttedDemo-Regular.ttf');
}

/* integral cf font */
@font-face {
    font-family: integralCfBold;
    src: url('../fonts/integralcf-bold.otf');
}
@font-face {
    font-family: integralCfMedium;
    src: url('../fonts/AvertaDemoPECuttedDemo-Regular.ttf');
}
@font-face {
    font-family: integralCfRegular;
    src: url('../fonts/integralcf-regular.otf');
}

.font-dm-sans {
    font-family: 'DM Sans', sans-serif;
}
.font-poppins {
    font-family: 'Poppins', sans-serif;
}
.font-averta-demo {
    font-family: AvertaDemoPECuttedDemo;
}
.font-integralcfReg {
    font-family: integralCfRegular;
}
.font-integralcfMed {
    font-family: integralCfMedium;
}
.font-integralcfBold {
    font-family: integralCfBold;
}

/* common styles */
* {
    transition: 0.3s;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'DM Sans', sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 28px;
	color: #636363;
	font-weight: 400;
	position: relative;
}
img {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}
a,
button {
	color: #636363;
	outline: medium none;
	text-decoration: none;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover {
	color: #636363;
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
    font-family: integralCfBold;
	font-size: 40px;
	line-height: 48px;
}
h2 {
    font-family: integralCfBold;
	font-size: 40px;
	line-height: 48px;
}
h3 {
    font-family: integralCfBold;
	font-size: 32px;
	line-height: 38px;
}
h4 {
    font-family: integralCfBold;
	font-size: 28px;
	line-height: 34px;
}
h5 {
    font-family: integralCfBold;
	font-size: 24px;
	line-height: 32px;
}
h6 {
    font-family: integralCfBold;
	font-size: 20px;
	line-height: 24px;
}
small {
	font-size: 14px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none;
}
p {
	font-size: 18px;
	margin-bottom: 0;
	line-height: 26px;
}

/* button style */
.btn {
	cursor: pointer;
	display: inline-block;
    font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 0;
	border-radius: 50px;
	text-align: center;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
}
.btn-blue-sm {
	background-color: #3D00B7;
	border: 2px solid #3D00B7;
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	padding: 16px 36px;
}
.btn-blue-sm:hover {
	background-color: #fff;
	color: #3D00B7;
    border-color: #3D00B7;
}
.btn-blue-lg {
	background-color: #3D00B7;
	border: 2px solid #3D00B7;
	color: #fff;
	font-size: 20px;
	line-height: 24px;
	padding: 18px 38px;
}
.btn-blue-lg:hover {
	background-color: #fff;
	color: #3D00B7;
	border-color: #3D00B7;
}
.btn-transparent {
	background-color: transparent;
	border: 2px solid #3D00B7;
	color: #3D00B7;
	font-size: 14px;
	line-height: 14px;
	padding: 16px 20px;
}
.btn-transparent:hover {
	background-color: #3D00B7;
	color: #fff;
}
button:focus, .btn:focus {
	box-shadow: none;
	outline: 0;
}

/* font weight */
.font-400 {
	font-weight: 400;
}
.font-500 {
	font-weight: 500;
}
.font-600 {
	font-weight: 600;
}
.font-700 {
	font-weight: 700;
}

/* color */
.text-purple {
    color: #3D00B7;
}
.text-ash {
    color: #565656;
}
.text-light-ash {
    color: #696969;
}
.text-red {
    color: #FF002E;
}
.text-green {
    color: #14C8B0;
}

/* customize bootstrap */
.container {
    max-width: 1350px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}